{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="form-wrapper">
    <form action="{% url 'add-student' %}" method="post" >
        {% csrf_token %}
    
        <label for="name">Имя</label>
        <input type="text" name="name" id="name" placeholder="Введите имя" /><br>

        <label for="last_name">Фамилия</label>
        <input type="text" name="last_name" id="last_name" placeholder="Введите фамилию"/><br>

        <label for="email">Почта</label>
        <input type="text" name="email" id="email" placeholder="Введите е-mail"/><br>

        <label for="group">Группа</label>
        <input type="text" name="group" id="group" placeholder="Введите номер группы"/><br>

        <label for="mark">Баллы</label>
        <input type="text" name="mark" id="mark" placeholder="Введите количество баллов"/><br>

        <label for="city">Город</label>
        <input type="text" name="city" id="city" placeholder="Введите город"/><br>

        <label for="year">Год</label>
        <input type="text" name="year" id="year" placeholder="Введите год рождения"/><br>

        <label for="gender"></label>
        <input type="radio" name="gender" id="gender" value="Муж" />Муж
        <input type="radio" name="gender" id="gender" value="Жен"/>Жен<br>

        <input type="submit" value="Сохранить"/>
    </form>
</div>

{% endblock %}
