{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title></title>
  </head>
  <body>
    <header>

      <nav class="nav">
          <form method="GET" action="{% url 'search' %}" id="searchform" class="search-form">
              <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
          </form>

          <div class="btn-add-student">
              <a href="/add_student/" class="btn">Добавить Студента</a>
          </div>

          <div class="btn-student-list">
              <a href="/" class="btn">Список студентов</a>
          </div>

      </nav>

    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
