{% extends 'base.html' %}

{% load static %}

{% block content %}
<a href="/add_student/" class="btn-add-student">Добавить Студента</a>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Last Name</th>
    <th>Group</th>
    <th>Mark</th>
    <th>City</th>
  </tr>
{% for student in students %}
  <tr>
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.last_name }}</td>
    <td>{{ student.group }}</td>
    <td>{{ student.mark }}</td>
    <td>{{ student.city }}</td>
  </tr><br>
{% endfor %}
</table>

{% endblock %}
