{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="form-wrapper">
    <form action="{% url 'add-student' %}" method="post" >
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="name">Имя</label>
                </td>
                <td>
                    <input type="text" name="name" id="name" placeholder="Введите имя" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="last_name">Фамилия</label>
                </td>
                <td>
                    <input type="text" name="last_name" id="last_name" placeholder="Введите фамилию"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Почта</label>
                </td>
                <td>
                    <input type="text" name="email" id="email" placeholder="Введите е-mail"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="group">Группа</label>
                </td>
                <td>
                    <input type="text" name="group" id="group" placeholder="Введите группу"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="mark">Баллы</label>
                </td>
                <td>
                    <input type="text" name="mark" id="mark" placeholder="Введите количество баллов"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="city">Город</label>
                </td>
                <td>
                    <input type="text" name="city" id="city" placeholder="Введите город"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="year">Год</label>
                </td>
                <td>
                    <input type="text" name="year" id="year" placeholder="Введите год рождения"/>
                </td>
            </tr>
            <tr>
                <td>Пол</td>
               <td>
                    <label for="gender" class="label-checkbox"></label>
                    <input type="radio" name="gender" id="gender" value="Муж" class="input-checkbox" /><span class="checkbox-span">Муж</span>
                    <input type="radio" name="gender" id="gender" value="Жен" class="input-checkbox" /><span class="checkbox-span">Жен</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Сохранить" class="btn-submit"/>
               </td> 
            </tr>
        </table>
    
    </form>
</div>

{% endblock %}
